body.modal-open {
    overflow: hidden;
}
.modal-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
	visibility: hidden;
	opacity: 0;
	overflow:hidden;
  z-index:1;
	&.light {
		background: rgba(255,255,255,0.5);
	}
	.cancel {
		position: absolute;
		width: 100%;
		height: 100%;
		cursor: default;
	}
	//&:target {
		visibility: visible;
		opacity: 1;
	//}
}
.modal {
	margin: $gutter-width auto;
	background: #fff;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	border: 1px solid #666;
	width: 90%;
	left:5%;
	position:fixed;
	top:0;
	bottom:0;
	overflow:hidden;
	@include bp(s) {
		left:20%;
		width:60%;
	}
	.inner {
			padding: $gutter-width/2 $gutter-width/2 $gutter-width;
			overflow-y:auto;
			max-height:calc(100% - #{$gutter-width*2});
			position: relative;
	}
	.light & {
		border-color: #aaa;
		box-shadow: 0 2px 10px rgba(0,0,0,0.25);
	}
	h2 {
		margin-top: 0;
		color: #666;
		font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	}
	.close {
		position: absolute;
		cursor:pointer;
		width: 20px;
		height: 20px;
		top: 5px;
		right: 20px;
		opacity: 0.8;
		transition: all 200ms;
		font-size: 42px;
		font-weight: bold;
		text-decoration: none;
		color: #666;
		&:hover {
			opacity: 1;
		}
		display:none;
	}
	.content {
		max-height: 400px;
		overflow: auto;
	}
	p {
		margin: 0 0 1em;
		&:last-child {
			margin: 0;
		}
	}
}
